body {
    background-color: black;
    color: white;
}

a {
    color: violet;
}

a:visited {
    color: violet;
}

a:hover {
    color: yellowgreen;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="submit"] {
    display: block;
    margin-top: 30px;
    background-color: violet;
    color: white;
    border: transparent;
    padding: 9px;
    cursor: pointer;
}